@font-face {
    font-family: 'MilkshakeCreps';
    src: url('../fonts/MilkshakeCreps.otf') format('opentype');
}

@font-face {
    font-family: 'VanillaCaramel';
    src: url('../fonts/VanillaCaramel.otf') format('opentype');
}

@font-face {
    font-family: 'MilkyNice';
    src: url('../fonts/MilkyNice-Clean.otf') format('opentype');
}

body {
    background: radial-gradient(circle at top, #4450c4, #2c347f);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    font-family: 'VanillaCaramel';
}

#mainHeader {
    font-family: 'MilkshakeCreps';
    color: white;
    font-size: 3rem;
    -webkit-text-stroke: 2px #0A1148;
    margin: 2rem 0 0.5rem 0;
    text-align: center;
}

#subHeader {
    color: white;
    font-size: 2rem;
    -webkit-text-stroke: 1.2px #0A1148;
    margin-bottom: 2rem;
    text-align: center;
}

.registerContainer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 350px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.inputBox h1 {
    color: white;
    font-family: "MilkyNice";
    -webkit-text-stroke: 1.5px#0A1148;
    margin-bottom: 0;
    font-size: 1.3rem;
}

.inputBox input {
    padding: 10px 12px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    box-sizing: border-box;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#registerButton {
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-family: "MilkyNice";
    background-color: #0A1148;
    color: white;
    transition: 0.2s;
}

#registerButton:hover {
    background-color: #1B1F70;
}

#loginRedir {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1.1px #0A1148;
    margin-right: 18rem;
    font-size: 1.5rem;
}

.headers {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.headers h2 {
    color: white;
    font-size: 1rem;
    margin-top: 1.1rem;
    -webkit-text-stroke: 1.1px #0A1148;
    visibility: hidden;
}