@font-face {
    font-family: 'MilkshakeCreps';
    src: url('../fonts/MilkshakeCreps.otf') format('opentype');
}

@font-face {
    font-family: 'VanillaCaramel';
    src: url('../fonts/VanillaCaramel.otf') format('opentype');
}

@font-face {
    font-family: 'MilkyNice';
    src: url('../fonts/MilkyNice-Clean.otf') format('opentype');
}

body {
    background: radial-gradient(circle at top, #4450c4, #2c347f);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    font-family: 'VanillaCaramel';
}

#mainHeader {
    font-family: 'MilkshakeCreps';
    color: white;
    font-size: 3rem;
    -webkit-text-stroke: 2px #0A1148;
    margin: 2rem 0 0.5rem 0;
    text-align: center;
}

.fileInfoContainer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 4rem 3rem;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 45rem;
}

.videoEmbed {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.fileImage {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.fileIcon {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.fileInfo {
    color: white;
    font-size: 0.9rem;
    word-wrap: break-word;
    text-decoration: none;
    overflow-wrap: break-word;
    max-width: 100%;
    font-size: 2rem;
    text-align: center;
}

.buttonBox button {
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    font-family: "MilkyNice";
    cursor: pointer;
    background-color: #0A1148;
    color: white;
    transition: 0.2s;
}

.buttonBox button:hover {
    background-color: #1B1F70;
}

#errorHeader {
    font-family: "VanillaCaramel";
    color: white;
    font-size: 0px;
    visibility: hidden;
}